// @include admin-panel();
@mixin admin-panel() {
  background-color: $eggshell;
  box-shadow: 1px 1px 1px $light-grey;
  width: 100%;
  margin: 0 0 15px;
} // admin-panel()

// @include admin-link();
@mixin admin-link() {
  background-color: $blue;
  box-shadow: 0 1px 0 lighten($blue,15%);
  color: $white;
  padding: 5px 7px;
  font-size: 0.9em;
  text-decoration: none;
  border-radius: $radius;
  outline: none;
  border: 1px solid darken($blue,5%);
  cursor: pointer;
  transition: $speed;
  &:hover {
    background-color: lighten($blue,5%);
    box-shadow: none;
  } // :hover
} // admin-link()
