div#admin-head {
  width: 100%;
} // div#admin-head

div#admin-head .admin-head-panel {
  @include flex(row,nowrap,space-between,center);
  @include admin-panel();
  padding: 20px 0;
  h1 {
    font-size: 1.8em;
    font-weight: normal;
    margin: 0 0 0 15px;
  } // h1
  a {
    @include admin-link();
  } // a
} // div#admin-head .admin-head-panel
