div.admin-item {
  @include flex(row,wrap,space-between,center);
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid $grey;

  @media screen and (max-width: $xs) {
    @include flex(column,nowrap,flex-start,flex-start);
  } // @media
} // div.admin-item

div.admin-item:first-of-type {
  border-top: 1px solid $grey;
} // div.admin-item:first-of-type

div.admin-item .admin-item-info {
  @include flex(column,nowrap,flex-start,flex-start);
  a {
    margin: 0 0 5px;
    padding: 0;
    text-indent: 10px;
    font-weight: normal;
    font-size: 1.1em;
    text-decoration: none;
    color: $black;
  } // a
  a:hover {
    color: $blue;
  } // a:hover
  a span {
    padding: 2px 6px;
    font-size: 0.7em;
    border-radius: 4px;
    text-align: center;
    margin: 0 5px 0 0;
  } // a span
  a span.approved, a span.published {
    background-color: $green;
    color: $white;
  } // a span.approved, a span.published
  a span.unapproved, a span.unpublished {
    background-color: $dark-grey;
    color: $black;
  } // a span.unapproved, a span.unpublished
  p {
    margin: 0;
    padding: 0;
    text-indent: 10px;
    text-indent: 15px;
    color: $charcoal;
    font-size: 0.7em;
  } // p
} // div.admin-item .admin-item-info

div.admin-item .admin-item-links {
  @include flex(row,nowrap,space-around,center);
  a {
    padding: 5px 7px;
    color: $white;
    background-color: $blue;
    box-shadow: 0 1px 0 lighten($blue,15%);
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    font-size: 0.8em;
  } // a

  @media screen and (max-width: $xs) {
    @include flex(row,nowrap,flex-start,flex-start);
    margin: 10px 0 0;
    a {
      margin: 0 10px 0 0;
    } // a
    a:first-of-type {
      margin: 0 10px 0;
    } // a:first-of-type
  } // @media
} // div.admin-item .admin-item-links
