div.admin-page {
  @include flex(row,wrap,flex-start,flex-start);
  width: 100%;
} // div.admin-page

div.admin-panel {
  background-color: $eggshell;
  box-shadow: 1px 1px 1px $light-grey;
  width: 100%;
  margin: 0 0 15px;
  h2 {
    text-indent: 10px;
    font-weight: normal;
  } // h2
} // div.admin-panel

div.admin-items {
  @include flex(column,nowrap,flex-start,flex-start);
  width: 100%;
} // div.admin-items

div.admin-panel-options {
  @include flex(row,wrap,flex-start,center);
  a {
    @include admin-link();
    margin: 0 10px 10px 0;
  } // a
  a:first-of-type {
    margin: 0 10px 10px 10px;
  } // a:first-of-type
} // div.admin-panel-options

form#edit_admin {
  width: 100%;

  .actions {
    width: 100%;
  } // .actions

  .actions input[type="submit"] {
    width: 100%;
    outline: none;
    border: none;
    height: 32px;
    background-color: $green;
    color: $white;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: $radius;
    transition: $speed;
  } // .actions input[type="submit"]

  .actions input[type="submit"]:hover {
    background-color: darken($green, 5%);
  } // .actions input[type="submit"]:hover
} // form#edit_admin
