form.admin-search {
  @include admin-panel();
} // form.admin-search

form.admin-search .admin-search-input {
  @include flex(row,wrap,space-between,center);
  margin: 10px;
  input[type="text"] {
    @include input-text();
    margin: 0 0 10px;
    border-radius: $radius;
  } // input[type="text"]
  input[type="submit"] {
    @include admin-link();
  } // input[type="submit"]

  @media screen and (max-width: $xs) {
    justify-content: flex-end;
    input[type="submit"] {
      margin: 10px 0 0;
    } // // input[type="submit"]
  } // @media
} // form.admin-search .admin-search-input

form.admin-search .admin-filter-options {
  @include flex(row,nowrap,flex-start,center);
  input[type="radio"] {
    margin: 0 5px 0 15px;
    height: 15px;
    width: 15px;
  } // input[type="checkbox"]
  input[type="radio"]:first-of-type {
    margin: 0 5px 0;
  } // input[type="checkbox"]:first-of-type
  span {
    font-size: 0.8em;
  } // span
  span.all {
    color: $blue;
  } // span.all
  span.approved, span.published {
    color: $green;
  } // span.approved, span.published
  span.featured {
    color: $yellow;
  } // span.featured
  @media screen and (max-width: $xs) {
    width: 100%;
    padding: 7px 0 0;
  } // @media
} // form.admin-search .admin-filter-options
