// Articles#Index
#articles-index #articles-list,
#articles-tagged #articles-list {
  @include flex(column,nowrap,flex-start,flex-start);
  @include content-width();
  h2.tag-title {
    font-size: 1.3em;
    color: $charcoal;
    padding: 10px 0;
    margin: 10px 0 0;
    border-bottom: 1px solid $light-grey;
  } // h2.tag-title
}
// #articles-index #articles-list
// #articles-tagged #articles-list

#articles-index #articles-list #articles-tags,
#articles-tagged #articles-list #articles-tags {
  @include flex(row,nowrap,flex-start,center);
  overflow: scroll;
  padding: 25px 0;
  border-bottom: 1px solid $light-grey;
  a {
    padding: 7px 10px;
    font-size: 0.9em;
    text-decoration: none;
    border-radius: $radius;
    transition: $speed;
    margin: 0 10px 0 0;
    color: $black;
    background-color: $eggshell;
    box-shadow: 0 1px 2px $light-grey;
    text-align: center;
  } // a
  a:hover {
    color: $blue;
    box-shadow: none;
  } // a:hover
  a.active {
    color: $white;
    background-color: $blue;
    box-shadow: none;
  } // a.active
}
// #articles-index #articles-list #articles-tags
// #articles-tagged #articles-list #articles-tags

// ---------------------------------------------------------------------------

// Articles#Show
#article-title h1 {
  font-size: 2em;
  font-weight: normal;
  margin: 20px 0 10px;
} // #article-title h1

#article-title .article-info {
  @include flex(row,nowrap,space-between,center);
  margin: 0 0 10px;
  border-bottom: 1px solid $light-grey;
} // #article-title .article-info

#article-title .article-info .tags {
  @include flex(row,nowrap,flex-start,center);
} // #article-title .article-info .tags

#article-title .article-info .article-tags span.x-tag {
  margin: 0 10px 0 0;
} // #article-title .article-info .article-tags span.tag

#article-description {
  .container p {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-style: italic;
    line-height: 2em;
    color: $charcoal;
  } // .container p
} // #article-description

#article-cover-image {
  @include flex(column,nowrap,center,center);
  max-height: 400px;
  overflow: hidden;
  border-radius: $radius;
  img { width: 100%; } // img
} // #article-cover-image

// ARTICLE SHOW - BODY
#article-body {
  width: 100%;
  img {
    max-width: 100%;
  } // img
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  } // h1, h2, h3, h4, h5, h6
  a {
    text-decoration: none;
    color: $blue;
  } // a
  a:hover {
    color: $yellow;
  } // a:hover
  p {
    margin: 25px 0;
    line-height: 1.8em;
    @media screen and (max-width: $xs) {
      font-size: 1.1em;
    } // p
  } // p
} // #article-body

#article-body h1 {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid $light-grey;
} // #article-body h1
#article-body h2 {} // #article-body h2
#article-body h3 {} // #article-body h3
#article-body h4 {} // #article-body h4
#article-body h5 {} // #article-body h5
#article-body h6 {} // #article-body h6
