// DIRECTORY
#static-directory {} // #static-directory

#static-directory {
  @include flex(row,wrap,flex-start,flex-start);
} // #static-directory

#static-directory #directory-search {
  input[type="submit"] {
    width: 100%;
    outline: none;
    border: none;
    background-color: $blue;
    color: $white;
    padding: 10px 0;
    font-size: 1em;
    margin: 10px 0 0;
    border-radius: $radius;
    transition: $speed;
    cursor: pointer;
  } // input[type="submit"]
  input[type="submit"]:hover {
    background-color: lighten($blue,10%);
  } // input[type="submit"]:hover
} // #static-directory #directory-search

#directory-search .container form {
  @media screen and (max-width: $sm) {
    padding: 10px;
    background-color: $light-grey;
    border-radius: $radius;
  } // @media
} // #directory-search .container form

#directory-search .container .directory-search-input {
  input[type="text"] {
    outline: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    width: 100%;
    height: 34px;
    font-size: 0.9em;
    background-color: $white;
    text-indent: 5px;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 1px $dark-grey;
  } // input[type="text"]
} // #directory-search .container .directory-search-input

#directory-search .container .directory-search-selected .filter-cell {
  @include flex(row,nowrap,flex-start,center);
  width: 100%;
  background-color: $eggshell;
  margin: 5px 0 0;
  border-radius: $radius;
  padding: 8px 0;
  font-size: 0.9em;
  input[type="checkbox"] {
    margin: 0 5px 0 10px;
  } // input[type="checkbox"]
} // #directory-search .container .directory-search-selected .filter-cell

#directory-search .container .directory-search-filters {
  @include flex(row,wrap,space-between,center);
  margin: 10px 0 0;
  a {
    @include flex(row,nowrap,space-between,center);
    width: 100%;
    text-decoration: none;
    padding: 5px 0;
    text-indent: 2px;
  } // a
  a .link-text {
    i {
      font-size: 0.9em;
      color: $black;
    } // i
    span {
      font-size: 1.1em;
      color: $black;
    } // span
  } // a .link-text
  a i {
    color: $black;
    transition: $speed;
    margin: 0 2px 0 0;
  } // a i
} // #directory-search .container .directory-search-filters

#directory-search .container .directory-search-filters a.active {
  i.fa-caret-left {
    transform: rotate(-90deg);
  } // i.fa-caret-left
} // #directory-search .container .directory-search-filters a.active

#directory-search .container .directory-search-filters .filter-dropdown {
  width: 100%;
  display: none;
  transition: $speed;
  input[type="checkbox"] {
    height: 15px;
    width: 15px;
  } // input[type="checkbox"]
} // #directory-search .container .directory-search-filters .filter-dropdown

#directory-search .container .directory-search-filters .filter-dropdown.active {
  @include flex(column,nowrap,flex-start,flex-start);
} // #directory-search .container .directory-search-filters .filter-dropdown.active

#directory-search .container .directory-search-filters .filter-dropdown .filter-cell {
  @include flex(row,nowrap,flex-start,center);
  width: 100%;
  background-color: $eggshell;
  margin: 5px 0 0;
  border-radius: $radius;
  padding: 8px 0;
  font-size: 0.9em;
  input[type="checkbox"] {
    margin: 0 5px 0 10px;
  } // input[type="checkbox"]
} // #directory-search .container .directory-search-filters .filter-dropdown .filter-cell

#static-directory #directory-content {} // #static-directory #directory-content

#static-directory #directory-content .container #no-results {
  @include flex(column,nowrap,center,center);
  width: 100%;
  box-shadow: 0 0 3px $dark-grey;
  padding: 50px 0;
  h1 {
    font-weight: normal;
  } // h1
} // #static-directory #directory-content .container #no-results
