body#app.admin {
  width: 100%;
} // body#app.admin

body#app.admin #content {
  @include flex(row,wrap,flex-start,flex-start);
  max-width: $lg;
  margin: 0 auto;
} // body#app.admin #content

body#app.admin #content #admin-render .container {
  @include flex(column,wrap,flex-start,flex-start);
} // body#app.admin #content #admin-render .container
