<div class="admin-search">
  <%= form_tag(admins_categories_path, method: :get, class: 'admin-search-form') do %>
    <div class="admin-search-input">
      <%= text_field_tag :term, params[:term], placeholder: 'Search Categories...' %>
      <%= submit_tag 'Search' %>
    </div>
  <% end %>
</div>
