<div id="admin-<%= controller_name %>-<%= action_name %>" class="admin-page">

  <div class="admin-head">
    <h1>NEW CATEGORY</h1>
    <div class="admin-head-options">
      <%= link_to 'BACK', admins_categories_path %>
    </div>
  </div>

  <%= render 'categories/form', category: @category %>

</div>
