// STYLE CONFIG VARIABLES

// Content Width
$content: 800px;

// transition: $speed;
$speed: .2s;

// border-radius: $radius;
$radius: 2px;

// Minimum Content Height witheld Nav
$min-content-height: calc(100vh - 56px);
