.container {
  margin: 10px;
  @media screen and (max-width: $xs) {
    margin: 10px 15px;
  } // @media
} // .container

.web-container {
  margin: 10px;
  @media screen and (max-width: $sm) {
    margin: 0;
  } // @media
} // .web-container

.mobile-container {
  margin: 0;
  @media screen and (max-width: $sm) {
    margin: 10px;
  } // @media
} // .mobile-container
