@mixin container() {
  margin: 10px;
  @media screen and (max-width: $xs) {
    margin: 15px;
  } // @media
} // container()

.container {
  @include container();
} // .container

// ---------------------------------------------------------------------------

@mixin web-container() {
  margin: 15px;
  @media screen and (max-width: $sm) {
    margin: 0;
  } // @media
} // web-container()

.web-container {
  @include web-container();
} // .web-container

// ---------------------------------------------------------------------------

@mixin mobile-container() {
  margin: 0;
  @media screen and (max-width: $sm) {
    margin: 15px;
  } // @media
} // mobile-container()

.mobile-container {
  @include mobile-container();
} // .mobile-container
