// FONTS
@font-face {
  font-family: 'Karla';
  src: font-url('/fonts/karla.ttf') format('truetype');

  font-family: 'KarlaBold';
  src: font-url('/fonts/karla-bold.ttf') format('truetype');

  font-family: 'KarlaItalic';
  src: font-url('/fonts/karla-italic.ttf') format('truetype');
}

html, body {
  font-family: 'Karla', sans-serif;
} // html, body

b {
  font-family: 'KarlaBold', sans-serif;
} // b

i {
  font-family: 'KarliaItalic', sans-serif;
} // i
