// @include(absolute,0,0,null,null);
@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
} // position()

// @include flex(row,nowrap,center,flex-start)
@mixin flex($flex-direction, $flex-wrap, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
} // flex()

// @include admin-panel();
@mixin admin-panel() {
  background-color: $eggshell;
  box-shadow: 1px 1px 1px $light-grey;
  width: 100%;
  margin: 0 0 15px;
} // admin-panel()

// @include admin-link();
@mixin admin-link() {
  background-color: $blue;
  box-shadow: 0 1px 0 lighten($blue,15%);
  color: $white;
  padding: 5px 7px;
  font-size: 0.9em;
  text-decoration: none;
  border-radius: $radius;
  outline: none;
  border: none;
  cursor: pointer;
  transition: $speed;
  &:hover {
    background-color: lighten($blue,5%);
    box-shadow: none;
  } // :hover
} // admin-link()

// @include input-text();
@mixin input-text() {
  width: 100%;
  border: none;
  outline: none;
  height: 30px;
  font-size: 1em;
  text-indent: 10px;
} // input-text()
