<div id="<%= controller_name %>-<%= action_name %>" class="legal-page content-width">
  <div class="container">
    <%= image_tag 'logo.png', alt: 'SYNTVX Logo', title: 'SYNTVX Logo' %>
    <h1>Terms & Conditions</h1>

    <div class="legal-section">
      <h2>Terms and Conditions</h2>
      <p>By accessing the website SYNTVX website at / (the “SYNTVX Website”), you agree to be bound by these Terms and Conditions and in addition you agree to comply with any applicable local, state or federal laws. If you do NOT agree to any of the terms and conditions contained herein, you are prohibited from using, accessing or otherwise visiting the SYNTVX Website. Additionally, the materials contained in the SYNTVX Website are protected by applicable copyright and trademark law.</p>
    </div>

    <div class="legal-section">
      <h2>Use License</h2>
      <p>Users of the SYNTVX Website are granted permission to temporarily view and/or download one (1) copy of the material(s), such as information or software, on the SYNTVX Website exclusively for personal and non-commercial transitory viewing. As such, this is a grant of a license, not a transfer of title, and pursuant to these terms and conditions, you, as the user, may not: (i) modify or copy SYNTVX Website materials; (ii) use the materials for any commercial exploitation or purpose, or for any public display, whether commercial or non-commercial; (iii) attempt to decompile or reverse engineer the SYNTVX Website; (iv) remove any copyright or other proprietary marks contained on the SYNTVX Website; or (v) transfer the material from the SYNTVX Website to another individual or duplicate, replicate or “mirror” the SYNTVX Website materials on any other server.</p>
    </div>

    <div class="legal-section">
      <h2>Termination</h2>
      <p>This license will automatically terminate in the event that you, as an SYNTVX Website user, violate any of the restrictions contained herein and your ability to use the site may be terminated at any time. Upon terminating your ability to view these materials or upon the termination of this license, you agree to, and must, destroy or discard any downloaded material(s) from the SYNTVX Website that is in your possession, whether such material(s) be in electronic or printed format.</p>
    </div>

    <div class="legal-section">
      <h2>Disclaimer</h2>
      <p>The materials displayed, provided and available on the SYNTVX Website are provided to you “as is,” and we make no warranties, whether express or implied, and hereby disclaim and negate all other warranties, including, without limitation, non-infringement of intellectual property, including copyright and trademark, implied warranties or conditions of merchantability, fitness for a particular purpose or other violations of rights. Additionally, we do not warrant or make any representations concerning the likely results, reliability or accuracy of the use of the materials on the SYNTVX Website or otherwise relating to such material on third-party sites linked to the SYNTVX Website.</p>
    </div>

    <div class="legal-section">
      <h2>Limitations</h2>
      <p>In no event shall we be liable for any damages, including, without limitation, damages resulting from loss of data or profit or due to business interruption, arising from the use or inability to use the materials on the SYNTVX Website, even if we, or an authorized representative, have been notified orally in writing of the possibility of such damage. As some jurisdictions do not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you if you are currently accessing the SYNTVX website from that state.</p>
    </div>

    <div class="legal-section">
      <h2>Modifications</h2>
      <p>Materials featured, displayed or available on the SYNTVX Website may include technical, typographical or photographic errors. We do not warrant that any of the materials available on the SYNTVX Website are accurate, complete or current and we may make changes to the materials contained on the SYNTVX Website at any time without notice. We do not, however, make any commitment to update materials on the SYNTVX Website.</p>
    </div>

    <div class="legal-section">
      <h2>Links</h2>
      <p>As we have not reviewed all third party sites linked to the SYNTVX Website, we disclaim any liability in connection with the content of any such third party linked site. Although the SYNTVX Website contains links to such third party sites, this does not imply, represent or warrant, an endorsement by us of such site. Any use of third party links from the SYNTVX Website is at the user’s own risk.</p>
    </div>

    <div class="legal-section">
      <h2>Site Terms of Use Modifications</h2>
      <p>These Terms and Conditions may be revised at any time without notice to users. By using the SYNTVX Website, you agree to be bound by the current and applicable version of these terms and conditions. The laws of the State of Florida shall govern any claims arising out of, or relating to, the use of the SYNTVX Website without regard to its conflict of law provisions.</p>
    </div>

    <div class="legal-section">
      <h2>Contact</h2>
      <p>If you have any questions or comments about these Terms and Conditions, please email us at <a href="mailto:syntvx@gmail.com">syntvx@gmail.com</a>.</p>
    </div>
  </div>
</div>
