<div class="admin-search">
  <%= form_tag(admins_languages_path, method: :get, class: 'admin-search-form') do %>
    <%= text_field_tag :term, params[:term], placeholder: 'Search Languages...' %>
    <%= submit_tag 'Search' %>
  <% end %>
</div>
