<div id="notification">
  <% if notice %>
    <div id="notice">
      <p><%= notice %></p>
      <%= fa_icon 'times', onclick: 'closeNotification()' %>
    </div>
  <% end %>
  <% if alert %>
    <div id="alert">
      <p><%= alert %></p>
      <%= fa_icon 'times', onclick: 'closeNotification()' %>
    </div>
  <% end %>
</div>
