div.tool-card {
  @include flex(row,nowrap,space-between,center);
  padding: 10px 0 0;
  border-bottom: 1px solid $grey;
  margin: 0;
  transition: $speed;
  @media screen and (max-width: $xs) {
    flex-wrap: wrap;
  } // @media
} // div.tool-card

div.tool-card .tool-info {
  @include flex(column,wrap,flex-start,flex-start);
  p.x-description {
    margin: 10px 0;
  } // p.x-description
} // div.tool-card .tool-info

div.tool-card .tool-info .tool-associations {
 @include flex(row,wrap,flex-start,center);
 span.x-tag {
   margin: 0 10px 10px 0;
 } // span.tag
} // div.tool-card .tool-info .tool-associations

div.tool-card .tool-links {
  @include flex(row,nowrap,center,center);
  @media screen and (max-width: $xs) {
    @include flex(row,nowrap,flex-start,center);
    width: 100%;
    margin: 10px 0;
  } // @media
  a {
    @include flex(column,nowrap,center,center);
    text-decoration: none;
    margin: 0 10px;
    @media screen and (max-width: $xs) {
      @include flex(row,nowrap,center,center);
      width: 50%;
      margin: 0;
      i {
        margin: 0 10px 0 0;
      } // i
    } // @media
  } // a
  a i {
    @include flex(column,nowrap,center,center);
    color: $white;
    font-size: 1em;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: $blue;
    box-shadow: 0 0 2px lighten($blue,10%);
  } // a i
  a i.fa-github {
    font-size: 1.4em;
  } // a i.fa-github
  a:hover i {
    box-shadow: none;
    background-color: lighten($blue,10%);
  } // a:hover i
  a span {
    font-size: 0.7em;
    color: $black;
    margin: 5px 0 0 0;
    @media screen and (max-width: $xs) {
      margin: 0;
    } // @media
  } // a span
} // div.tool-card .tool-links
