div#footer {
  @include flex(row,wrap,space-between,center);
  width: 100%;
  background-color: $black;
  padding: 10px 0;
  @media screen and (max-width: $xs) {
    @include flex(column,nowrap,flex-start,center);
  } // @media
} // div#footer

div#footer .footer-logo {
  a {
    @include flex(row,wrap,flex-start,center);
    text-decoration: none;
    margin: 0 0 0 15px;
    @media screen and (max-width: $xs) {
      @include flex(column-reverse,nowrap,flex-start,center);
      margin: 20px 0 0;
    } // @media
  } // a
  a:hover span {
    color: $blue;
  } // a:hover span
  a img {
    width: 40px;
    @media screen and (max-width: $xs) {
      width: 80px;
      margin: 10px 0;
    } // @media
  } // a img
  a span {
    font-size: 1em;
    color: $white;
    margin: 0 0 0 5px;
    @media screen and (max-width: $xs) {
      font-size: 1.5em;
      margin: 0 0 15px;
    } // @media
  } // a span
} // div#footer .footer-logo

div#footer .footer-links {
  a {
    text-decoration: none;
    color: $white;
    font-size: 0.9em;
    margin: 0 15px 0 0;
  } // a
  a:hover {
    color: $blue;
  } // a:hover
  @media screen and (max-width: $xs) {
    padding: 15px 0 25px;
    a:last-of-type {
      margin: 0;
    } // a:last-of-type
  } // @media
} // div#footer .footer-links
