div#nav {
  @include flex(row,nowrap,space-between,center);
  width: 100%;
  background-color: $white;
  box-shadow: 0 1px 1px $light-grey;
  @media screen and (max-width: $xs) {
    padding: 4px 0;
  } // @media
} // div#nav

div#nav .general {
  @include flex(row,nowrap,flex-start,center);
  a {
    @include flex(row,nowrap,center,center);
    text-decoration: none;
  } // a
  a img {
    width: 40px;
    margin: 0 10px 0 10px;
  } // a img
  @media screen and (min-width: $xs) {
    a img {
      margin: 0 7px 0 5px;
    } // a img
  } // @media
} // div#nav .general

div#nav .general a span {
  font-size: 1.2em;
  color: $black;
} // div#nav .general a span

div#nav .general a.nav-link {
  text-decoration: none;
  color: $blue;
  font-size: 0.9em;
  padding: 18px 15px;
  transition: $speed;
} // div#nav a.nav-link

div#nav .general a.nav-link:hover {
  color: $white;
  background-color: $blue;
} // div#nav a.nav-link:hover

div#nav .nav-socials {
  @include flex(row,nowrap,flex-end,center);
  a {
    text-decoration: none;
    margin: 0 25px 0 0;
    i {
      font-size: 1.3em;
      color: $blue;
    } // i
    i.fa-facebook {
      font-size: 1.1em;
    } // i.fa-facebook
    &:hover {
      i {
        color: $yellow;
      } // i
    } // :hover
  } // a
} // div#nav .nav-socials

div#nav .admin a {
  text-decoration: none;
  margin: 0 20px 0 0;
  font-size: 0.8em;
  color: $blue;
  i {
    font-size: 1.5em;
    color: $blue;
    margin: 0 5px 0 0;
  } // i
  &:hover {
    color: $yellow;
    i {
      color: $yellow;
    } // i
  } // :hover
} // div#nav .admin a

div#nav #sidenav-icon {
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  &:active div {
    background-color: $white;
  } // :active div
} // div#nav #sidenav-icon

div#nav #sidenav-icon .bar1, .bar2, .bar3 {
  width: 38px;
  height: 5px;
  background-color: $blue;
  transition: $speed;
  border-radius: 5px;
  margin: 6px 0;
} // div#nav #sidenav-icon .bar1, .bar2, .bar3

div#nav #sidenav-icon.active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: $yellow;
} // div#nav #sidenav-icon.active bar1

div#nav #sidenav-icon.active .bar2 {
  opacity: 0;
} // div#nav #sidenav-icon.active bar2

div#nav #sidenav-icon.active .bar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -7px);
  transform: rotate(45deg) translate(-9px, -7px);
  background-color: $yellow;
} // div#nav #sidenav-icon.active .bar3
