div#nav {
  @include flex(row,nowrap,space-between,center);
  width: 100%;
  box-shadow: 0 1px 1px $light-grey;
} // div#nav

div#nav .general {
  padding: 18px 0;
} // div#nav .general

div#nav .general a {
  text-decoration: none;
  color: $black;
  font-size: 1.1em;
  padding: 18px 15px;
} // div#nav a

div#nav .general a:hover {
  color: $blue;
  background-color: $eggshell;
} // div#nav a:hover

div#nav .admin a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.8em;
  color: $black;
  i {
    font-size: 1em;
    color: $black;
    margin: 0 5px 0 0;
  } // i
  &:hover {
    color: $blue;
    i {
      color: $blue;
    } // i
  } // :hover
} // div#nav .admin a

div#nav #sidenav-icon {
  display: inline-block;
  cursor: pointer;
  padding: 10px 12px;
  &:active div {
    background-color: $blue;
  } // :active div
} // div#nav #sidenav-icon

div#nav #sidenav-icon .bar1, .bar2, .bar3 {
  width: 38px;
  height: 5px;
  background-color: $blue;
  transition: $speed;
  border-radius: 5px;
  margin: 6px 0;
} // div#nav #sidenav-icon .bar1, .bar2, .bar3

div#nav #sidenav-icon.active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: $blue;
} // div#nav #sidenav-icon.active bar1

div#nav #sidenav-icon.active .bar2 {
  opacity: 0;
} // div#nav #sidenav-icon.active bar2

div#nav #sidenav-icon.active .bar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -7px);
  transform: rotate(45deg) translate(-9px, -7px);
  background-color: $blue;
} // div#nav #sidenav-icon.active .bar3
