// NOTIFICATION
div#notification {
  @include position(fixed,null,null,0,null);
  width: 100%;
  transition: $speed;
} // div#notification

div#notification #notice,
div#notification #alert {
  @include flex(row,nowrap,space-between,center);
  width: 100%;
  p {
    color: $white;
    padding: 12px 10px;
    margin: 0;
    font-size: 1em;
  } // p
  i {
    color: $white;
    font-size: 1.8em;
    padding: 12px;
    cursor: pointer;
  } // i
  i:hover {
    color: $light-grey;
  } // i:hover
}
// div#notification #notice
// div#notification #alert

div#notification #notice {
  background-color: $green;
} // div#notification #notice

div#notification #alert {
  background-color: $yellow;
} // div#notification #alert
