.pagination {
  @include flex(row,wrap,center,center);
  width: 100%;
  margin: 10px 0;
} // .pagination

.pagination span.previous_page,
.pagination span.next_page {
  display: none;
}
// .pagination span.previous_page
// .pagination span.next_page

.pagination a.previous_page {} // .pagination a.previous_page

.pagination a {
  margin: 0 5px;
  padding: 4px 6px;
  background-color: $light-grey;
  border-radius: $radius;
  text-decoration: none;
  color: $black;
  @media screen and (max-width: $xs) {
    padding: 10px;
  } // @media
} // .pagination a

.pagination a:hover {
  color: $blue;
} // .pagination a:hover

.pagination em.current {
  font-style: normal;
  padding: 4px 6px;
  background-color: $blue;
  color: $white;
  border-radius: $radius;
  margin: 0 5px;
  @media screen and (max-width: $xs) {
    padding: 10px;
  } // @media
} // .pagination em.current

.pagination a.next_page {} // .pagination a.next_page
