#particles {
  position: relative;
  height: 300px;
  width: 100%;
  @media screen and (max-width: $xs) {
    height: 200px;
  } // @media
} // #particles

#particles .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  img {
    width: 150px;
  } // img
  h1 {
    font-size: 2.2em;
    margin: 0;
    font-weight: normal;
  } // h1
  h2 {
    font-weight: normal;
    color: $blue;
    margin: 0;
  } // h2
  @media screen and (max-width: $xs) {
    img {
      width: 110px;
    } // img
    h1 {
      font-size: 2.5em;
    } // h1
    h2 {
      font-size: 1.2em;
    } // h2
  }
} // #particles .center
