<div id="admin-<%= controller_name %>-<%= action_name %>" class="admin-page">

  <div class="admin-head">
    <h1>Settings</h1>
  </div>

  <div class="admin-panel">
    <h2>Cache</h2>

    <div class="admin-panel-options">
      <%= link_to 'Cache Clear', admins_cache_clear_path %>
      <%= link_to 'Explicit Cache Clear', admins_explicit_cache_clear_path %>
    </div>
  </div>
</div>
