<div id="admin-<%= controller_name %>-<%= action_name %>" class="admin-page">
  <%= link_to 'Cache Clear', admins_cache_clear_path %>
  <%= link_to 'Explicit Cache Clear', admins_explicit_cache_clear_path %>
</div>
